*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

h3{
    text-align: center;
    margin: 10rem;

    
}

h2{
    text-align: center;
    margin-top: 3rem;
}